= form_for @bean, class: 'form-group' do |f|
  - if @bean.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bean.errors.count, "error")} prohibited this bean from being saved:"
      %ul
        - @bean.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :roaster_id
    = f.select :roaster_id, options_for_select(roasters_list)
  .field
    = f.label :roast_level_id
    = f.select :roast_level_id, options_for_select(roast_levels_list)
  .field
    = f.label :origin_id
    = f.select :origin_id, options_for_select(origins_list)
  .field
    = f.label :notes
    = f.text_area :notes
  .field
    = f.label :in_stock
    = f.check_box :in_stock
  .field
    = f.label :cupping
    = f.check_box :cupping
  .actions
    = f.submit 'Save'
