.container
  %h1 Bean History
  = link_to 'New Bean', new_bean_path, class: "btn btn-primary"
  %table.table
    %thead
      %tr
        %th=sortable "name"
        %th=sortable "roaster_id", "Roaster"
        %th=sortable "roast_level_id", "Roast level"
        %th=sortable "origin_id", "Origin"
        %th=sortable "notes"
        %th=sortable "in_stock"
        %th=sortable "average_rating"
        %th
        %th

    %tbody
      - @beans.each do |bean|
        %tr
          %td= bean.name
          %td= roaster_name bean.roaster_id
          %td= roast_level_name bean.roast_level_id
          %td= origin_name bean.origin_id
          %td= bean.notes
          %td= bean.in_stock
          %td= bean.average_rating
          %td= link_to 'Show', bean
          %td= link_to 'Edit', edit_bean_path(bean)

  %br

  = link_to 'New Bean', new_bean_path, class: "btn btn-primary"
